.container {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1, h2 {
  text-align: center;
}

.form-group {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px 0;
  padding: 8px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin: 0 auto; /* Center the button */
}

.btn:hover {
  background-color: #45a049;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 5px 5px 5px rgb(75, 72, 72);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}
