body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
  color: #333;
}

h1 {
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
